#service-part{
    margin-bottom: 50px;
    margin-top: 50px;
    .title {
      text-align: center;
      margin: 50px 0;
      h3 {
          top: 46px;
          left: 49.5%;
          transform: translateX(-50%);
        }
    }
    .item{
        background: #fff;
        box-shadow: 0px 0px 13px 0px rgba(0, 0, 0, 0.75);
        border-radius: 10px 10px 50px 10px;
        text-align: center;
        position: relative;
        z-index: 1;
        overflow: hidden;
        &::after {
            width: 50%;
            height: 50%;
            background: #9493ea;
            position: absolute;
            bottom: -80px;
            right: -81px;
            content: "";
            transform: rotate(-54deg);
            transition: .4s;
          }
        &::before {
            width: 40%;
            height: 40%;
            background: #1a2cd7;
            position: absolute;
            bottom: -64px;
            right: -62px;
            content: "";
            z-index: 1;
            transform: rotate(-54deg);
            transition: .4s;
        }
        &:hover::before{
            bottom: -132px;
            right: -103px;
        }
        &:hover::after{
            bottom: -158px;
            right: -68px;
            transform: rotate(-50deg);
        }
        &:hover .overlay{
            opacity: 1;
        }
        .overlay{
            width: 100%;
            height: 100%;
            background: linear-gradient(45deg, #08bbf6 0%, #6122ef 63%);
            position: absolute;
            top:0;
            left: 0;
            box-shadow: 0px 0px 13px 0px rgba(0, 0, 0, 0.75);
        border-radius: 10px 10px 50px 10px;
        opacity: 0;
        z-index: -1;
        transition: .8s;
        }
        i {
            font-size: 88px;
            color: linear-gradient(45deg, #08bbf6 0%, #6122ef 63%);
            display: block;
            padding-top: 50px;
            transition: .4s;
            -webkit-transition: .4s;
            -moz-transition: .4s;
            -ms-transition: .4s;
            -o-transition: .4s;
            color: #207ce5;
            
          }
          h3 {
            font-family: 'Josefin Sans', sans-serif;
            font-size: 20px;
            font-weight: 500;
            text-transform: uppercase;
            color: #1a115e;
            margin-top: 30px;
            margin-bottom: 10px;
            transition: .4s;
          }
          p {
            font-family: 'Josefin Sans', sans-serif;
            font-size: 16px;
            font-weight: 400;
            color: rgba(18, 20, 27, 0.6);
            margin-top: 30px;
            line-height: 30px;
            width: 80%;
            transition: .4s;
            margin: 0 auto;
          }
           h2 {
            color: #5f24ef;
            margin-top: 12px;
            display: inline-block;
            font-size: 22px;
            font-weight: 600;
            font-family: 'Josefin Sans', sans-serif;
            margin-bottom: 30px;
            transition: .4s;
          }
    }
    
}