#work-part{
    margin-bottom: 100px;
    .title{
        text-align: center;
       
             h3 {
                font-family: 'Josefin Sans', sans-serif;
                font-size: 32px;
                font-weight: 600;
                position: absolute;
                top: 49px;
                /* left: 155px; */
                color: #1c0e3e;
                left: 37%;
            }
        
    }
  .top{
      margin-top: -90px;
    .box{
        text-align: center;
       h2 {
            font-family: 'Josefin Sans', sans-serif;
            font-size: 18px;
            font-weight: 600;
            color: black;
            margin-top: 20px;
            margin-bottom: 20px;
        }
      
        .item{
            width: 112px;
            height: 112px;
            border-radius: 50%;
            display: flex;
            align-items: center;
            justify-content: center;
            position: relative;
            margin: 0 auto;
            .round{
                width: 112px;
                height: 112px;
                background: rgba(95, 36, 239, 0.5);
                border-radius: 50%;
                
                transform: scale(.8);
                transition: .4s;
              
               
            }
            .round-active{
                transform: scale(1);
            }
            .s-round{
                width: 92px;
                height: 92px;
                background: #5f24ef;
                border-radius: 50%;
                position: absolute;
                top:50%;
                left: 50%;
                transform: translate(-50%,-50%);
                display: flex;
                align-items: center;
                justify-content: center;
                i {
                    font-size: 50px;
                    color: #dfcbcb;
                  }
            }
           
            
        }
    }
    // =============
    
  }
  .middel{
      margin-top: 50px;
      position: relative;
      .line {
        width: 100%;
        height: 1px;
        background: #ddcece;
        position: absolute;
        top: 9px;
        left: 0;
        transition: .4s;
    }
    .line2 {
        width: 11%;
        height: 3px;
        background: linear-gradient(45deg, #08bbf6 0%, #6122ef 63%);
        position: absolute;
        top: 9px;
        left: 0;
        transition: .4s;
    }
    .box2{
        text-align: center;
        h1{
            font-family: 'Josefin Sans', sans-serif;
            font-size: 90px;
            font-weight: 600;
            transition: .4s;
            transition: 4;
        }
        .activeh1{
            color:#806e83;
        }
        .box1{
            display: flex;
            align-items: center;
            justify-content: center;
            position: relative;
            .gol{
                width: 20px;
                height: 20px;
                background: linear-gradient(45deg, #08bbf6 0%, #6122ef 63%);
                border-radius: 50%;
                transform: scale(.6);
                transition: .4s;
    
    
            }
            .gol-active{
                transform: scale(1);
            }
            .s-gol{
                width: 10px;
                height: 10px;
                background: pink;
                border-radius: 50%;
                position: absolute;
                top:50%;
                left: 50%;
                transform: translate(-50%,-50%);
            }
        }
    }
}

}